body{
    margin: 0px;
    background-color: gray;
}

.container{
    width: 600px;
    height: 800px; 
}

.imagecontainer{
    width: 100%;
}

img{
    width: 100%;
    margin-left: 450px;
    margin-top: 10px;
}

h2{
    margin-left: 700px;
    font-family: sans-serif;
    opacity: 0.4;
}



@media screen and (max-width: 600px) {
    .imagecontainer >img{
        width: 390px;
    }
}